/* dark reader */
[label="Dark Reader"] image {
  list-style-image: url("https://github.com/SARRAF-5757/BlackGlass/blob/main/BlackGlass/images/darkReader.png?raw=true") !important;
}

/* zen internet */
[label="Zen Internet"] image {
  list-style-image: url("https://github.com/SARRAF-5757/BlackGlass/blob/main/BlackGlass/images/transparent-zen.png?raw=true") !important;
}

/* Bitwarden */
[label="Bitwarden"] image {
  list-style-image: url("https://github.com/SARRAF-5757/BlackGlass/blob/main/BlackGlass/images/bitwarden.png?raw=true") !important;
}

/* dark theme */
[devtoolstheme="light"] {
  [label="Dark Reader"],
  [label="Zen Internet"],
  [label="Bitwarden"] {
    image {
      filter: invert(0) !important;
    }
  }
}

