:root {
  --zen-colors-tertiary: transparent !important;
  --zen-settings-secondary-background: transparent !important;
  --_zen-scrollbar-thumb: transparent !important;
  --_zen-scrollbar-track: transparent !important;
}

#preferences-root {
  background-color: transparent !important;
}

html:has([data-l10n-id]) {
  background-color: transparent !important;
}

@-moz-document url(about:config), url(about:support) {
  html,
  #toolbar {
    background-color: transparent !important;
  }
  tr,
  table {
    background-color: transparent !important;
    border: none !important;
  }
  tr {
    outline: solid 1px #0000 !important;
  }
}

/* transparency for settings containers */
groupbox {
  background: rgba(0, 0, 0, 0) !important;
  border: none;
}
