/*!------------------ General Background Transparency -------------------*/
:root {
  --zen-colors-tertiary: transparent !important;
  --zen-settings-secondary-background: transparent !important;
}

#preferences-root,
#search-container,
.sticky-container,
.info-box-container,
.container {
  background-color: transparent !important;
  border: none !important;
}

/*!------------------------------ Cleanup -------------------------------*/

/* hide ugly blue card and useless text shown by container tab */
.extension-controlled-message-bar {
  display: none !important;
}

/* remove the white divider line above extensions and themes */
.primary-nav-group + hr,
#secondary-nav-group ~ hr,
hr {
  display: none !important;
}

/*!----------------------------- Styling --------------------------------*/
/* card-like backgrounds*/
moz-card,
groupbox:not(:has(moz-card)),
.primary-nav-group,
.sidebar-footer-link,
.page-nav-heading-wrapper,
.moz-page-nav-link {
  background-color: rgba(0, 0, 0, 0.35) !important;
  border-radius: 14px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
  padding: 12px !important;
  border: none !important;
}

/* inputs and searchbars */
input#input.with-icon {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  border-radius: 8px !important;
}
&:focus {
  outline: 2px solid rgba(100, 100, 100, 0.2) !important;
}

/* buttons, dropdown menus and input boxes */
@-moz-document url-prefix("about:preferences"), url-prefix("about:addons") {
  menulist,
  .select-wrapper,
  .picker-item.image-item,
  button:not(.button-link):not(.toggle-button):not([id="input"]):not(.panel-trigger):not(.category):not([role="menuitem"]):not([role="tab"]) {
    background-color: rgba(0, 0, 0, 0.35) !important;
    border-radius: 8px !important;
    padding: 4px 8px !important;
    border: none !important;
  }

  button:hover:not(.toggle-button):not([id="input"]):not(.panel-trigger),
  moz-button::part(button):hover,
  .picker-item:hover,
  .image-item:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  button[role="tab"][selected=""],
  button[role="tab"][aria-selected="true"],
  .picker-item.image-item[checked=""],
  .picker-item.image-item[aria-checked="true"] {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}

/*!----------------- Other settings Pages --------------------*/
@-moz-document url-prefix("about:config"), url-prefix("about:addons"), url-prefix("about:support"), url-prefix("about:profiles") {
  html,
  table,
  #toolbar,
  .action-box,
  .main-heading,
  .main-search {
    background-color: transparent !important;
    border: none !important;
  }

  /* extension cards for about:addons */
  .card {
    background-color: rgba(0, 0, 0, 0.35) !important;
    border: none !important;
    box-shadow: none !important;
  }
  .card:hover {
    background-color: rgba(0, 0, 0, 0.45) !important;
  }
  .card[active="true"] {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  /* search boxes for about:config and about:addons */
  #about-config-search,
  input[type="search"] {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
  }
}
